<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <img src="" alt="poto" id="photo">
    <h2 id="name">Nama</h2>
    <p id="alamat">Nama</p>
    <p id="rating">Nama</p>
    <p id="jam">Nama</p>
</body>
</html>
<script src="https://static.line-scdn.net/liff/edge/2.1/sdk.js"></script>
<script>
    liff
        .init({
            liffId: '1653349907-Zjr0gBlY'
        })
        .then(() => {
            // start to use LIFF's api
            initializeApp();
        })
        .catch((err) => {
            
        });
    
    liff.getProfile().then(function(profile) {
        // document.getElementById('teks').textContent = profile.userId
        var url = 'https://kravehack.herokuapp.com/api/getdetail?uid=' + profile.userId
        fetch(url).then(function(data) {
            return data.json()
        }).then(function(res) {
            document.getElementById('name').textContent = res.result.name
            document.getElementById('photo').src = 'https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=' + res.result.photos[0].photo_reference +'&key=AIzaSyCYjt7ngtOeL04bdX5CTrKgNs8aezmhrCc'
            document.getElementById('alamat').textContent = res.result.formatted_address
            document.getElementById('rating').textContent = res.result.rating
            document.getElementById('jam').textContent = res.result.opening_hours.weekday_text
        })
    })
</script>