<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Detail</title>
</head>
<body>
    <h1 id="title">Judul</h1>
    <p id="tipe">Budget</p>
    <p id="from">Dari</p>
    <p id="to">To</p>
    <p id="dep">Asal</p>
    <p id="arr">Tujuan</p>
    <p id="flightone">Pesawat Keberangkatan</p>
    <p id="flightwo">Pesawat Kepulangan</p>
    <p id="hotel">Hotel</p>
    <p id="resto">Restoran</p>
    <p id="wisata">Wisata</p>
    <p id="budget">Budget Tersisa: </p>
</body>
</html>
<script src="https://static.line-scdn.net/liff/edge/2.1/sdk.js"></script>
<script>
    liff
        .init({
            liffId: '1653349907-Xk6mZJBM'
        })
        .then(() => {
            // start to use LIFF's api
            initializeApp();
        })
        .catch((err) => {
            
        });
    
    liff.getProfile().then(function(profile) {
        // document.getElementById('teks').textContent = profile.userId
        var url = 'https://kravehack.herokuapp.com/api/getindex?uid=' + profile.userId
        fetch(url).then(function(data) {
            return data.json()
        }).then(function(res) {
            var url = 'https://kravehack.herokuapp.com/api/getejs?uid=' + profile.userId + '&id=' + res.result
            fetch(url).then(function(data) {
                return data.json()
            }).then(function(ress) {
                document.getElementById('tipe').textContent = 'Tipe: ' + ress.result.method
                document.getElementById('title').textContent = ress.result.title
                document.getElementById('from').textContent = 'Asal: ' + ress.result.latlonfrom
                document.getElementById('to').textContent = 'Tujuan: ' + ress.result.date
                document.getElementById('dep').textContent = 'Tanggal Keberangkatan: ' + ress.result.departure.split('T')[0]
                document.getElementById('arr').textContent = 'Tanggal Kepulangan: ' + ress.result.arrival.split('T')[0]
                document.getElementById('flightone').textContent = 'Kode Penerbangan: ' + ress.result.flightname[0].split('-_-')[0] + '\nMaskapai: ' + ress.result.flightname[0].split('-_-')[1] + '\nRute: ' + ress.result.flightname[0].split('-_-')[2] + '\nBandara Asal: ' + ress.result.flightname[0].split('-_-')[3] + '\nBandara Tujuan: ' + ress.result.flightname[0].split('-_-')[4] + '\nHarga Tiket: ' + ress.result.flighprice[0]
                document.getElementById('flightwo').textContent = 'Kode Penerbangan: ' + ress.result.flightname[1].split('-_-')[0] + '\nMaskapai: ' + ress.result.flightname[1].split('-_-')[1] + '\nRute: ' + ress.result.flightname[1].split('-_-')[2] + '\nBandara Asal: ' + ress.result.flightname[1].split('-_-')[3] + '\nBandara Tujuan: ' + ress.result.flightname[1].split('-_-')[4] + '\nHarga Tiket: ' + ress.result.flighprice[1]
                document.getElementById('hotel').textContent = ress.result.hotelname[0] + '-' + ress.result.hotelprice[0]
                document.getElementById('resto').textContent = ress.result.fnbname + '-' + ress.result.fnbprice
                document.getElementById('wisata').textContent = ress.result.placeid
                document.getElementById('budget').textContent = ress.result.budget
            })
        })
    })
</script>